* {
    font-family: sans-serif;
}
div.button {
  display: inline-block;
  width: 200px;
  height: 20px;
  padding: 50px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  margin: 0 10px 0 0;
}
.done {
  background-color: green;
}
.help {
  background-color: red;
}
.grey {
  background-color: grey;
  color: white;
}
.hidden {
  display: none;
}
.student-status {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 3px solid #000000;
  text-align: center;
}
.status_button {
  display: inline-block;
  width: 48%;
  height: 70%;
}
